<div data-bind="visible: registered() || tokenReset()">
    <p>Hurrah! 3D printer already registered. Nothing to do here. Go to <a target="blank" href="https://www.getanywhere.io/app/devices">getanywhere.io <i class="fa fa-external-link" aria-hidden="true"></i></a></p>

    <div><a href="#" class="muted" onclick="$(this).children().toggleClass('icon-caret-right icon-caret-down').parent().parent().next().slideToggle('fast')"><i class="icon-caret-right"></i> Not seeing your 3D printer in getanywhere.io?</a></div>
    <div class="hide" style="background: #ddd; padding: 12px 12px 12px 24px;">
        <p>Most likely it is caused by one of the following reasons:</p>
        <ul>
            <li>You logged in with a different account than the one your 3D printer was linked to. If that's the case, log out of OctoPrint Anywhere dashboard and log in with the proper account.</li>
            <li>You copied the OctoPi image from another SD card (as opposed to using original OctoPi image).</li>
        </ul>
        <p>In either case, you can solve the problem by following these 2 steps:</p>
        <div class="row-fluid">
            <div class="span5">
                    Step 1:
                    <button class="btn" data-bind="click: resetButtonClicked, disable: tokenReset(), css: { 'btn-primary': !tokenReset() }">
                        <i class="icon-spinner icon-spin" data-bind="visible: sending"></i>
                        Reset account
                    </button>
            </div>
            <div class="span2">
                <i class="fa fa-2x fa-long-arrow-right" aria-hidden="true"></i>
            </div>
            <div class="span5">
                    Step 2:
                    <!-- ko if: !tokenReset() -->
                        <button class="btn" disabled="true">Re-register</button>
                    <!-- /ko -->
                    <!-- ko if: tokenReset() -->
                        <a class="btn btn-primary" data-bind="attr: {href: regUrl()}" target="blank">Re-register</a>
                    <!-- /ko -->
            </div>
        </div>
        <p style="margin-top: 16px;">If it still does not work, please <a href="mailto:support@getanywhere.io">report a bug</a>.</p>
    </div>
    <p class='muted' style="margin-top: 8px;">Something else is wrong? Check the <a href='http://www.getanywhere.io/pub/faqs'>help page</a>.</p>
</div>
<div data-bind="visible: !registered() && !tokenReset()">
    <a class="btn btn-primary" data-bind="attr: {href: regUrl()}" target="blank">Register my 3D printer on getanywhere.io</a>

    <div><a href="#" class="muted" style="margin: 0px 12px;" onclick="$(this).children().toggleClass('icon-caret-right icon-caret-down').parent().parent().next().slideToggle('fast')"><i class="icon-caret-right"></i> Having difficulties registering?</a></div>
    <div class="hide">
      <ul>
        <li>Make sure your browser, as well as Raspberry Pi, are both connected to internet.</li>
        <li>Open a new browser window and copy this link to the address bar: <code data-bind="text: regUrl()"></code></li>
        <li>If it still does not work, please <a href="mailto:support@getanywhere.io">report a bug</a>.</li>
      </ul>
    </div>
</div>

<hr />
<div data-bind="visible: premiumEligible()">
    <h4>OctoPrint Anywhere Premium</h4>
    <p>Thank you for supporting OctoPrint Anywhere with your Premium Subscription. However, premium video streaming is not enabled because a few default OctoPrint settings.</p>
    <p>
        <a class="btn btn-primary btn-block" data-bind="css: { disabled: premiumVideoEnabled() }, click: enablePremiumVideoClicked" >Change OctoPrint settings to enable Premium Video Streaming</a>
        <a class="btn btn-block" data-bind="css: { disabled: !premiumVideoEnabled() }, click: disablePremiumVideoClicked" >Restore original OctoPrint settings (this will disable Premium Video Streaming)</a>
    </p>

    <p><a href="#" class="muted" onclick="$(this).children().toggleClass('icon-caret-right icon-caret-down').parent().parent().next().slideToggle('fast')"><i class="icon-caret-right"></i> What do these buttons do? And why?</a></p>
    <div class="hide">
        <p style="font-weight: bolder;">What settings will be changed?</p>
        <ul>
            <li>'mjpeg-streamer', the original, low-efficient streaming will be turned off.</li>
            <li>The snapshot URL will be changed from 'http://192.168.134.30:8080/?action=snapshot' to 'http://127.0.0.1:56720/octoprint_anywhere/snapshot'</li>
        </ul>
        <p style="font-weight: bolder;">Why do these settings need to be changed?</p>
        <p>
    By default, OctoPrint uses a low-efficient webcam streaming mechanism called 'mjpeg-streamer'. OctoPrint Anywhere Premium Video Streaming is using 'H.264', a highly efficient modern streaming technology. However, 'mjpeg-streamer' and 'H.264' can't be running at the same time. This is because they are based on fundamentally different technologies and will cause conflicts if they try to use the same camera simultaneously. Therefore, 'mjpeg-streamer' in OctoPrint needs to be turned off before OctoPrint Anywhere Premium Video Streaming can be enabled.
        </p>
        <p style="font-weight: bolder;">I no longer need Premium Video Streaming, how do I change the settings back?</p>
        <p>You can just click the "Restore original OctoPrint settings" button and everything will be taken care of for you.</p>
        <p style="font-weight: bolder;">Ths is fascinating! What can I learn more about it?</p>
        <p>Check out <a href="#">our blogs</a> where we revealed the technologies under the hood (geek alert: nitty-gritty technical details).</p>
    </div>
    <hr />
</div>

<h4>About OctoPrint Anywhere</h4>
<p>Remote monitoring and control for 3D printer from ANYWHERE, ON YOUR PHONE.</p>
<iframe width="616" height="346" src="https://www.youtube.com/embed/yuMUJ5NdPAI" frameborder="0" allowfullscreen></iframe>

<h4>Privacy Disclaimer</h4>
<ul>
    <li>Your webcam images and printer data, such as temperatures, GCode file names (not the GCode itself), will be sent to getanywhere.io.</li>
    <li>The said data is used ONLY for the services on getanywhere.io. We will NOT share the said data with ANY third party.</li>
    <li>Please check our full <a href='https://www.getanywhere.io/assets/terms.html'>Terms Of Use</a> and <a href='https://www.getanywhere.io/assets/privacy.html'>Privacy Policy</a>.
    <li>If you disagree with our Terms Of Use or Privacy Policy, please uninstall this plugin immediately.</li>
    <li>If you have questions or concerns on our privacy policy, please <a href="mailto:support@getanywhere.io">contact us</a>.
</ul>
