<h4>Please register your printer <a href={{"{}/app/link_printer?token={}".format(plugin_anywhere_api_host, plugin_anywhere_token)}} target="blank">here</a>.</h4>

<p>If the link doesn't work, please open a new browser window and copy this link to the address bar: {{"{}/app/link_printer?token={}".format(plugin_anywhere_api_host, plugin_anywhere_token)}}</p>
